{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block main %}
<h1>Login</h1>
<form>
    <ul>
        <li>
            <label for="login">Login</label>
            <input type="text" id="login" name="login">
        </li>
        <li>
            <label for="mdp">Password</label>
            <input type="text" id="mdp" name="mdp">
        </li>
    </ul>
    <input type="submit">
</form>
{% endblock %}
