{% extends 'base.html.twig' %}

{% block title %}
About Us
{% endblock %}

{% block main %}
    <div class="pp-card">
        <div class="pp-container">
            <img src="{{ asset('asset/icons/skullomania-sfex2-laugh.gif') }}">
        </div>
        <div class="description">
            <p>The nicest and bestest skelly boy in all of the interwebs!</p>
        </div>
    </div>
{% endblock %}

