<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="../public/asset/icons/favicon.png">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('asset/app.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap" rel="stylesheet">
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

<div class="container">
    <header class="header">
        {% block header %}
            <img class="bucket rotating" src="{{ asset('asset/icons/logo.svg') }}" alt="bucket">
            <div class="headerText">
                <div class="headerTitle">
                    <h2>BucketList</h2>
                </div>
                <div class="headerNav">
                    <a class="navLink btn" href="http://bucketlist/public/">Home</a>
                    <a class="navLink btn" href="http://bucketlist/public/wish">Wishes</a>
                    <a class="navLink btn" href="http://bucketlist/public/about">About Us</a>
                </div>
            </div>
        {% endblock %}
    </header>

    <main class="main">
        {% block main %}
            <div>
                <p>Bloc body</p>
            </div>
        {% endblock %}
    </main>

    <footer class="footer">
        {% block footer %}
            <div class="footerDiv">
                <p>ENI Software ©</p>
            </div>
        {% endblock %}
    </footer>
</div>
</body>
</html>
