{% extends 'base.html.twig' %}

{% block title %}Todos{% endblock %}

{% block main %}
<h1>Add to the bucket!</h1>
    <form>
                <label for="libelle">Libelle</label>
                <input type="text" id="libelle" name="libelle">
                <input type="submit">
    </form>
{% endblock %}

