{% extends 'base.html.twig' %}

{% block title %}404{% endblock %}

{% block main %}
   <h1></h1>
   {% if exception is defined %} LALALALA {% else %} LOLOLOLO {% endif %}
   <p>Error 404</p>
{% endblock %}